[package]
name = "azure_messaging_servicebus"
version = "0.12.0"
description = "Rust wrappers around Microsoft Azure REST APIs - Service Bus crate"
readme = "README.md"
authors = ["Microsoft Corp."]
license = "MIT"
repository = "https://github.com/azure/azure-sdk-for-rust"
homepage = "https://github.com/azure/azure-sdk-for-rust"
documentation = "https://docs.rs/azure_messaging_servicebus"

keywords = ["sdk", "azure", "rest", "iot", "cloud"]
categories = ["api-bindings"]

edition = "2021"

[dependencies]
azure_core = { path = "../core", version = "0.12" }
time = "0.3.10"
log = "0.4"
url = "2.2"
hmac = "0.12"
sha2 = "0.10"
ring = "0.16"
bytes = "1.0"

[dev-dependencies]
futures = "0.3"
tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }
env_logger = "0.10"

[features]
default = ["azure_core/enable_reqwest"]
test_e2e = []
