# Build output.
target/

# Track only workspace Cargo.lock
Cargo.lock
!/Cargo.lock

# User secrets.
.env

# Test artifacts.
.assets/

# Editor user customizations.
.vscode/launch.json
.idea/

# Editor temp files.
*~
*.code-workspace
*.rs.bk
*.swo
*.swp
*.vim

# Temporary folder to refresh SDK with TypeSpec.
TempTypeSpecFiles/
