# Build output.
target/

# User secrets.
.env

# Editor user customizations.
.vscode/launch.json
.idea/

# Editor temp files.
*~
*.code-workspace
*.rs.bk
*.swo
*.swp
*.vim

# Temporary folder to refresh SDK with TypeSpec.
TempTypeSpecFiles/
