target/
Cargo.lock
*.rs.bk
.vscode/
!.vscode/extensions.json
!.vscode/settings.json
sample/
/.project
\#*\#
\.#*
*~
*.code-workspace
*.swp
*.swo
*.vim
__azurite*.json
__blobstorage__
__queuestorage__
.idea/
*.iml
*.bat
