[workspace]
members = [
  #"azure_sdk_auth_aad",
  "azure_sdk_core",
  "azure_sdk_service_bus",
  "azure_sdk_storage_account",
  "azure_sdk_storage_blob",
  "azure_sdk_storage_core",
  "azure_sdk_storage_table",
  #"azure_sdk_cosmos"
]
