[package]
name = "azure_storage_datalake"
version = "0.1.1"
description = "Azure Data Lake Storage Gen2 crate from the Azure SDK for Rust"
readme = "README.md"
authors = ["Microsoft Corp."]
license = "MIT"
repository = "https://github.com/azure/azure-sdk-for-rust"
homepage = "https://github.com/azure/azure-sdk-for-rust"
documentation = "https://docs.rs/azure_storage_datalake"
keywords = ["sdk", "azure", "storage", "datalake"]
categories = ["api-bindings"]
edition = "2021"

[dependencies]
async-trait = "0.1"
azure_core = { path = "../core", version = "0.2" }
azure_storage = { path = "../storage", version = "0.1" }
base64 = "0.13"
bytes = "1.0"
chrono = { version = "0.4", features = ["serde"] }
futures = "0.3"
http = "0.2"
log = "0.4"
serde = { version = "1.0" }
serde_derive = "1.0"
serde_json = "1.0"
serde-xml-rs = "0.5"
uuid = { version = "1.0", features = ["v4"] }
url = "2.2"

[dev-dependencies]
tokio = { version = "1.0", features = ["full"] }
azure_identity = { path = "../identity", version = "0.1" }

[features]
default = ["enable_reqwest"]
test_e2e = []
enable_reqwest = ["azure_core/enable_reqwest"]
enable_reqwest_rustls = ["azure_core/enable_reqwest_rustls"]
mock_transport_framework = ["azure_core/mock_transport_framework"]
