name: Check All Features for Services

on:
  workflow_dispatch:

env:
  # the goal is to remove warnings from the generated code
  # https://github.com/Azure/azure-sdk-for-rust/issues/553
  RUSTFLAGS: -Dwarnings -Aunused_attributes -Aunreachable-code -Aunused-assignments -Adead-code -Aclippy::new-without-default
  CARGO_INCREMENTAL: 0

jobs:
{% for package in packages %}
  {{package}}:
    if: always()
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: stable
        profile: minimal
        override: true
    - uses: Swatinem/rust-cache@v2
    - name: check all features
      run: |
        cd services
        cargo check --all-features -p {{package}}
{% endfor %}
