[package]
name = "azure_identity"
version = "0.1.0"
description = "Rust wrappers around Microsoft Azure REST APIs - Azure identity helper crate"
readme = "README.md"
authors = ["Microsoft Corp."]
license = "MIT"
repository = "https://github.com/azure/azure-sdk-for-rust"
homepage = "https://github.com/azure/azure-sdk-for-rust"
documentation = "https://docs.rs/azure_identity"
keywords = ["sdk", "azure", "rest", "iot", "cloud"]
categories = ["api-bindings"]
edition = "2018"

[dependencies]
reqwest = { version = "0.11", features = ["json"], default-features = false }
azure_core = { package = "azure_base", path = "../core", version = "0.1.0", default-features = false }
oauth2 = { version = "4.0.0", default-features = false }
url = "2.2"
futures = "0.3"
serde = { version = "1.0", features = ["derive"] }
chrono = { version = "0.4", features = ["serde"] }
serde_json = "1.0"
log = "0.4"
async-timer = "1.0.0-beta.7"
thiserror = "1.0"
async-trait = "0.1"

[dev-dependencies]
tokio = { version = "1.0", features = ["macros"] }
azure_storage = { version = "0.1", path = "../storage" }
azure_storage_blobs = { version = "0.1", path = "../storage_blobs" }
env_logger = "0.9"
serde_test = "1"

[features]
default = ["development", "enable_reqwest"]
enable_reqwest = ["reqwest/default-tls", "oauth2/native-tls", "azure_core/enable_reqwest"]
enable_reqwest_rustls = ["reqwest/rustls-tls", "oauth2/rustls-tls", "azure_core/enable_reqwest_rustls"]
development = []
test_e2e = []
