[package]
name = "azure_iot_hub"
version = "0.4.0"
authors = ["Microsoft Corp."]
edition = "2021"
description = "Azure IoT Hub"
license = "MIT"

[dependencies]
async-trait = "0.1"
azure_core = { path = "../core", version = "0.4", default_features = false }
base64 = "0.13"
bytes = "1.0"
time = "0.3.10"
hmac = "0.12"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_derive = "1.0"
sha2 = "0.10"
url = "2.2"
thiserror = "1.0"
futures = "0.3"

[dev-dependencies]
env_logger = "0.9"
hyper = "0.14"
hyper-rustls = "0.23"
reqwest = "0.11.0"
tokio = { version = "1.0", features = ["macros"] }

[features]
default = ["azure_core/enable_reqwest"]
