[package]
name = "azure_iot_hub"
version = "0.19.0"
authors = ["Microsoft Corp."]
edition = "2021"
description = "Azure IoT Hub"
license = "MIT"
repository = "https://github.com/azure/azure-sdk-for-rust"
homepage = "https://github.com/azure/azure-sdk-for-rust"
documentation = "https://docs.rs/azure_iot_hub"

[dependencies]
async-trait = "0.1"
azure_core = { path = "../core", version = "0.19", default-features = false }
bytes = "1.0"
time = "0.3.10"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
url = "2.2"
thiserror = "1.0"
futures = "0.3"

[dev-dependencies]
tracing-subscriber = "0.3"
hyper = "1.0"
hyper-rustls = "0.26"
reqwest = "0.12.0"
tokio = { version = "1.0", features = ["macros"] }

[features]
default = ["enable_reqwest", "hmac_rust"]
hmac_rust = ["azure_core/hmac_rust"]
hmac_openssl = ["azure_core/hmac_openssl"]
enable_reqwest = ["azure_core/enable_reqwest"]
enable_reqwest_rustls = ["azure_core/enable_reqwest_rustls"]

[package.metadata.docs.rs]
features = [
  "enable_reqwest",
  "enable_reqwest_rustls",
  "hmac_rust",
  "hmac_openssl",
]
