[package]
name = "iot_hub"
version = "0.1.0"
authors = ["Microsoft Corp."]
edition = "2018"

[dependencies]
azure_core = { path = "../core", version = "0.1.0" }
base64 = "0.13"
bytes = "1.0"
chrono = "0.4"
crypto-mac = { version = "0.11", features = ["std"] }
hmac = "0.12"
http = "0.2"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
serde_derive = "1.0"
sha2 = "0.9"
url = "2.2"
thiserror = "1.0"

[dev-dependencies]
env_logger = "0.8"
hyper = "0.14"
hyper-rustls = "0.22"
reqwest = "0.11.0"
tokio = { version = "1.0", features = ["macros"] }
