[package]
name = "azure_core"
version = "0.28.0"
description = "Rust wrappers around Microsoft Azure REST APIs - Core crate"
readme = "README.md"
authors.workspace = true
license.workspace = true
repository.workspace = true
homepage = "https://github.com/azure/azure-sdk-for-rust"
documentation = "https://docs.rs/azure_core"
keywords = ["sdk", "azure", "rest", "iot", "cloud"]
categories = ["api-bindings"]
edition.workspace = true
rust-version.workspace = true

[dependencies]
async-lock.workspace = true
async-trait.workspace = true
azure_core_macros.workspace = true
bytes.workspace = true
futures.workspace = true
hmac = { workspace = true, optional = true }
openssl = { workspace = true, optional = true }
pin-project.workspace = true
serde.workspace = true
serde_json.workspace = true
sha2 = { workspace = true, optional = true }
tokio = { workspace = true, optional = true }
tracing.workspace = true
typespec = { workspace = true, features = ["http", "json"] }
typespec_client_core = { workspace = true, features = [
  "derive",
  "http",
  "json",
] }

[build-dependencies]
rustc_version.workspace = true

[dev-dependencies]
azure_core_macros.path = "../azure_core_macros"
azure_core_test.workspace = true
azure_identity.workspace = true
azure_security_keyvault_certificates.path = "../../keyvault/azure_security_keyvault_certificates"
azure_security_keyvault_secrets.path = "../../keyvault/azure_security_keyvault_secrets"
criterion.workspace = true
reqwest.workspace = true
thiserror.workspace = true
tokio.workspace = true
tracing-subscriber.workspace = true

[features]
default = [
  "reqwest",
  "reqwest_deflate",
  "reqwest_gzip",
]
azurite_workaround = []
debug = ["typespec_client_core/debug"]
decimal = ["typespec_client_core/decimal"]
hmac_openssl = ["dep:openssl"]
hmac_rust = ["dep:sha2", "dep:hmac"]
reqwest = ["typespec_client_core/reqwest"]
reqwest_deflate = ["typespec_client_core/reqwest_deflate"]
reqwest_gzip = ["typespec_client_core/reqwest_gzip"]
reqwest_rustls = ["typespec_client_core/reqwest_rustls"]
test = ["typespec_client_core/test"]
tokio = ["dep:tokio", "typespec_client_core/tokio"]
xml = ["typespec_client_core/xml"]

[lints]
workspace = true

[package.metadata.docs.rs]
features = [
  "debug",
  "decimal",
  "hmac_openssl",
  "hmac_rust",
  "reqwest",
  "reqwest_deflate",
  "reqwest_gzip",
  "reqwest_rustls",
  "tokio",
  "xml",
]

[[bench]]
name = "benchmarks"
harness = false

[[bench]]
name = "http_transport_benchmarks"
harness = false
