[package]
name = "azure_core"
version = "0.19.0"
description = "Rust wrappers around Microsoft Azure REST APIs - Core crate"
readme = "README.md"
authors.workspace = true
license.workspace = true
repository.workspace = true
homepage = "https://github.com/azure/azure-sdk-for-rust"
documentation = "https://docs.rs/azure_core"
keywords = ["sdk", "azure", "rest", "iot", "cloud"]
categories = ["api-bindings"]
edition.workspace = true
rust-version.workspace = true

[dependencies]
typespec = { workspace = true, features = ["http", "json"] }
typespec_client_core = { workspace = true, features = ["http", "json"] }
async-trait.workspace = true
bytes.workspace = true
futures.workspace = true
tracing.workspace = true
serde.workspace = true
serde_json.workspace = true
pin-project.workspace = true
paste.workspace = true
tokio = { workspace = true, optional = true }
hmac = { workspace = true, optional = true }
sha2 = { workspace = true, optional = true }
openssl = { workspace = true, optional = true }
once_cell.workspace = true

[build-dependencies]
rustc_version.workspace = true

[dev-dependencies]
time.workspace = true
tracing-subscriber.workspace = true
tokio.workspace = true
thiserror.workspace = true

[features]
default = []
reqwest = ["typespec_client_core/reqwest"]
reqwest_gzip = ["typespec_client_core/reqwest_gzip"]
reqwest_rustls = ["typespec_client_core/reqwest_rustls"]
hmac_rust = ["dep:sha2", "dep:hmac"]
hmac_openssl = ["dep:openssl"]
test_e2e = []
azurite_workaround = []
xml = ["typespec_client_core/xml"]
tokio_fs = ["tokio/fs", "tokio/sync", "tokio/io-util"]
tokio_sleep = ["typespec_client_core/tokio_sleep"]

[package.metadata.docs.rs]
features = [
  "xml",
  "tokio_fs",
  "reqwest",
  "reqwest_gzip",
  "reqwest_rustls",
  "hmac_rust",
  "hmac_openssl",
  "xml",
]
