[tags]
deny = [
  # duplicate params https://github.com/Azure/azure-sdk-for-rust/issues/501
  "package-2021-07-31-preview",
  "package-2021-03-31-preview",
  "package-2022-11-01-preview",
  "package-2023-04-01-preview",
]
