[package]
name = "azure_storage"
version = "0.1.0"
description = "Azure Storage crate from the Azure SDK for Rust"
readme = "README.md"
authors = ["Microsoft Corp."]
license = "MIT"
repository = "https://github.com/azure/azure-sdk-for-rust"
homepage = "https://github.com/azure/azure-sdk-for-rust"
documentation = "https://docs.rs/azure_storage"
keywords = ["sdk", "azure", "storage"]
categories = ["api-bindings"]
edition = "2021"

[dependencies]
async-trait = "0.1"
azure_core = { path = "../core", version = "0.2", default-features=false }
base64 = "0.13"
chrono = "0.4"
http = "0.2"
futures = "0.3"
log = "0.4"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
serde-xml-rs = "0.5"
url = "2.2"
uuid = { version = "1.0", features = ["v4"] }
bytes = "1.0"
RustyXML = "0.3"
thiserror = "1.0"
once_cell = "1.7"
hmac = "0.12"
sha2 = "0.10"

[dev-dependencies]
tokio = { version = "1.0", features = ["macros"] }
env_logger = "0.9"
azure_identity = { path = "../identity", version = "0.1" }
reqwest = "0.11"

[features]
default = ["account", "enable_reqwest"]
test_e2e = ["account"]
mock_transport_framework = [ "azure_core/mock_transport_framework"]
test_integration = ["account"]
account = []
azurite_workaround = []
enable_reqwest = ["azure_core/enable_reqwest"]
enable_reqwest_rustls = ["azure_core/enable_reqwest_rustls"]

# This section specifies the required features for the examples.
[[example]]
name="account00"
required-features = ["account"]
