[package]
name = "azure_storage"
version = "0.15.0"
description = "Azure Storage crate from the Azure SDK for Rust"
readme = "README.md"
authors = ["Microsoft Corp."]
license = "MIT"
repository = "https://github.com/azure/azure-sdk-for-rust"
homepage = "https://github.com/azure/azure-sdk-for-rust"
documentation = "https://docs.rs/azure_storage"
keywords = ["sdk", "azure", "storage"]
categories = ["api-bindings"]
edition = "2021"

[dependencies]
async-trait = "0.1"
azure_core = { path = "../core", version = "0.15", features = ["xml"] }
time = "0.3.10"
futures = "0.3"
log = "0.4"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
url = "2.2"
uuid = { version = "1.0", features = ["v4"] }
bytes = "1.0"
RustyXML = "0.3"
once_cell = "1.7"
hmac = "0.12"
sha2 = "0.10"

[dev-dependencies]
tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }
env_logger = "0.10"
reqwest = "0.11"
mock_transport = { path = "../../eng/test/mock_transport" }
azure_identity = { path = "../identity", default-features = false }


[features]
default = ["enable_reqwest"]
test_e2e = []
test_integration = []
enable_reqwest = ["azure_core/enable_reqwest"]
enable_reqwest_rustls = ["azure_core/enable_reqwest_rustls"]
