[package]
name = "azure_security_keyvault"
version = "0.15.0"
authors = ["Microsoft Corp."]
description = "Rust wrapper around Microsoft Azure REST APIs for Azure Key Vault"
repository = "https://github.com/azure/azure-sdk-for-rust"
homepage = "https://github.com/azure/azure-sdk-for-rust"
documentation = "https://docs.rs/azure_security_keyvault"
keywords = ["azure", "microsoft", "sdk", "keyvault", "cloud"]
categories = ["api-bindings"]
readme = "README.md"
license = "MIT"
edition = "2021"

[dependencies]
async-trait = "0.1"
futures = "0.3"
time = "0.3"
const_format = "0.2.13"
serde_json = "1.0"
url = "2.2"
serde = { version = "1.0", features = ["derive"] }
azure_core = { path = "../core", version = "0.15", default-features = false }

[dev-dependencies]
azure_identity = { path = "../identity", default-features = false }
async-trait = "0.1"
tokio = { version = "1.0", features = ["macros", "rt-multi-thread"] }

[features]
default = ["enable_reqwest"]
enable_reqwest = ["azure_core/enable_reqwest"]
enable_reqwest_rustls = ["azure_core/enable_reqwest_rustls"]
