name: Build and Test

on: 
  pull_request:
  push:

env:
  RUSTFLAGS: -Dwarnings
  CARGO_INCREMENTAL: 0

jobs:
  test:
    runs-on: ubuntu-latest
    strategy: 
      matrix: 
        rust: [stable]
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        profile: minimal
        override: true
        components: rustfmt

    - name: fmt
      run: |
        cargo fmt --all -- --check
        ./scripts/check_json_format.sh
        cargo fmt --manifest-path services/Cargo.toml --all -- --check
      if: matrix.rust == 'stable'

    - name: sdk tests 
      run: cargo test --all

    - name: services tests
      run: cargo build --manifest-path services/Cargo.toml --all 

    - name: e2e tests build
      run: |
        PROJECTS=(core  cosmos  identity  service_bus  storage)
        for PROJ in ${PROJECTS[@]}
        do
          echo "Checking e2e tests for $PROJ"
          cargo check --tests --features test_e2e --manifest-path $PROJ/Cargo.toml || exit 1
        done

    - name: display free disk space
      run: df -h /
      if: ${{ always() }}
