name: Build and Test

on: 
  pull_request:
  push:

env:
  RUSTFLAGS: -Dwarnings

jobs:
  test:
    runs-on: ubuntu-latest
    strategy: 
      matrix: 
        rust: [stable]
    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        profile: minimal
        override: true
        components: rustfmt

    - name: fmt
      run: |
        cargo fmt --all -- --check
        ./scripts/check_json_format.sh
      if: matrix.rust == 'stable'

    - name: build
      run: cargo build --all-targets

    - name: tests
      run: cargo test --all 
