[package]
name = "azure_core"
version = "0.1.0"
description = "Rust wrappers around Microsoft Azure REST APIs - Core crate"
readme = "README.md"
authors = ["Microsoft Corp."]
license = "MIT"
repository = "https://github.com/azure/azure-sdk-for-rust"
homepage = "https://github.com/azure/azure-sdk-for-rust"
documentation = "https://docs.rs/azure_core"
keywords = ["sdk", "azure", "rest", "iot", "cloud"]
categories = ["api-bindings"]
edition = "2018"

[dependencies]
RustyXML = "0.3"
base64 = "0.13"
chrono = "0.4"
http = "0.2"
futures = "0.3"
hyper = "0.14"
log = "0.4"
quick-error = "1.2"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
serde-xml-rs = "0.4"
url = "2.2"
uuid = { version = "0.8", features = ["v4"] }
bytes = "1.0"
hyper-rustls = "0.22"
failure = "0.1"
async-trait = "0.1"
oauth2 = "=4.0.0-alpha.3"
reqwest = "0.11"
paste = "1.0"
md5 = "0.7"
rand = "0.8"

[dev-dependencies]
env_logger = "0.8"
tokio = "1.0"

[features]
test_e2e = []
azurite_workaround = []
